@import "../../../../styles/vars.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/mixins.scss";

.root {
  height: 100%;
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.listContainer {
  display: none;
  width: 100%;
  text-align: right;
  padding-top: 10rem;
  @include center($vertical: true, $horizontal: false);
  @include desktop {
    display: block;
  }
}

.controls {
  display: none;

  @include desktop {
    padding: 4rem 3rem 2rem 3rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0 1rem 1rem 0;
    // @include center($vertical: true);
    bottom: 0;
    position: fixed;
    writing-mode: horizontal-tb;
    text-align: center;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    display: grid;
  }

  .controls_item {
    position: relative;
    grid-column-end: span 3;
    height: 4rem;
    padding-top: 1rem;
    font-family: $font-body;
    font-weight: bold;

    button {
      @include button;
      display: inline-block;
      font-size: 2.2rem;
      font-family: $font-body;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -1rem;
        right: 0;
        left: 0;
        height: 0.2rem;
        background: $secondary-color;
        transform: matrix(1, 0.05, -0.05, 1, 0, 5);
        -ms-transform: matrix(1, 0.05, -0.05, 1, 0, 5);
        -webkit-transform: matrix(1, 0.05, -0.05, 1, 0, 5);
        opacity: 0;
        transition: 0.3s all ease-in-out;
      }

      &:hover {
        cursor: pointer;

        &:after {
          transform: matrix(1, 0, 0, 1, 0, 0);
          -ms-transform: matrix(1, 0, 0, 1, 0, 0);
          -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          opacity: 1;
          transition: 0.3s all ease-in-out;
        }
      }
    }

    .button_divider {
      display: inline-block;
      font-size: 2.2rem;
      margin: 0 1rem;
    }

    &_label {
      position: absolute;
      display: inline-block;
      top: -2rem;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0 0 1rem 0;
      font-size: 1.6rem;
    }
  }
}

.control_label {
  color: $secondary-color;
  display: inline-block;
  margin: 2rem 0 0 0;

  &:nth-child(1) {
    margin: 0 0 0 0;
  }
}

.no_mobile {
  display: block;
  padding: 3rem;
  width: calc(100% - 6rem);
  text-align: center;
  @include center($vertical: true, $horizontal: true);
  @include body;
  @include desktop {
    display: none;
  }
}

.listRoot {
  display: flex;
  max-width: 40rem;
  margin: 0 auto;
  list-style-type: none;

  p {
    font-size: 4rem;
    line-height: 8rem;
    font-weight: bold;
    letter-spacing: 2rem;
    max-width: 50rem;
    margin: 0 auto;
    writing-mode: vertical-rl;

    span {
      color: $inactive-color;
    }
  }
}

.listItem {
  width: 30%;
  align-self: flex-start;
  display: inline-block;

  img {
    display: none;
  }
}
