@import "../../../styles/vars.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/mixins.scss";

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0.8;

  @include desktop {
    display: block;
  }
}

.no_mobile {
  display: block;
  padding: 3rem;
  width: calc(100% - 6rem);
  text-align: center;
  @include center($vertical: true, $horizontal: true);
  @include body;
  @include desktop {
    display: none;
  }
}
