@import "../../../../styles/vars.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/mixins.scss";

.root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 100%;
  padding: 3rem;
  max-width: 75rem;
  box-sizing: border-box;
  margin: 5rem auto;

  @include desktop {
    margin: 10rem auto;
  }
}

.headline {
  @include headline;
}

.body {
  @include body;
}

.indent {
  @include indent;
}

.italic {
  font-style: italic;
  margin-bottom: 6rem;
}
