@import "../../styles/vars.scss";
@import "../../styles/responsive.scss";
@import "../../styles/mixins.scss";

.root {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  font-size: 3rem;
  font-weight: bold;
  background: $secondary-color;
  color: $main-color;
  position: fixed;
  top: 2rem;
  left: 2rem;
  will-change: transform;
  position: relative;

  @include tablet {
    width: 6rem;
    height: 6rem;
    top: 4rem;
    left: 2rem;
    font-size: 4rem;

    .eyeLeft,
    .eyeRight {
      width: 0.6rem;
      height: 0.6rem;
    }

    .eyeLeft {
      transform: translate(-1.1rem, -2.11rem);
    }

    .eyeRight {
      transform: translate(0.4rem, -2.11rem);
    }
  }

  @include desktop {
    left: 6rem;
    top: 6rem;
  }

  .eyeLeft,
  .eyeRight {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    background: $main-color;
    position: absolute;
    top: 45%;
    left: 50%;
  }

  .eyeLeft {
    transform: translate(-1rem, -1.7rem);
  }

  .eyeRight {
    transform: translate(0.3rem, -1.7rem);
  }

  .mouth {
    @include center($horizontal: true);
    top: 50%;
    transform: translate(-50%, -40%);
    width: 2.5rem;
    height: 3rem;
    border: 0.6rem solid $main-color;
    box-sizing: border-box;
    border-radius: 45%;
  }

  .fx {
    position: relative;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    color: $accent-color;
    font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.4rem;
    line-height: normal;
    letter-spacing: 0.25rem;

    @include tablet {
    }
  }
}
