@import "../../styles/vars.scss";
@import "../../styles/responsive.scss";
@import "../../styles/mixins.scss";

.root {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  font-size: 3rem;
  font-weight: bold;
  background: $secondary-color;
  color: $main-color;
  position: fixed;
  top: 2rem;
  left: 2rem;
  will-change: transform;
  z-index: 1000;

  @include tablet {
    width: 6rem;
    height: 6rem;
    top: 4rem;
    left: 2rem;
    font-size: 4rem;
  }

  @include desktop {
    left: 6rem;
    top: 6rem;
  }

  .eyeLeft,
  .eyeRight {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    background: $main-color;
    position: absolute;
    top: 58%;
    left: 50%;

    @include tablet {
      top: 45%;
      width: 0.6rem;
      height: 0.6rem;
    }
  }

  .eyeLeft {
    transform: translate(-0.8rem, -1.6rem);

    @include tablet {
      transform: translate(-1rem, -1.7rem);
    }
  }

  .eyeRight {
    transform: translate(0.3rem, -1.6rem);

    @include tablet {
      transform: translate(0.4rem, -1.7rem);
    }
  }

  .mouth {
    @include center($horizontal: true);
    top: 50%;
    transform: translate(-52%, -40%);
    width: 1.6rem;
    height: 2rem;
    border: 0.4rem solid $main-color;
    box-sizing: border-box;
    border-radius: 45%;

    @include tablet {
      width: 2.5rem;
      height: 3rem;
      border: 0.6rem solid $main-color;
    }
  }

  .fx {
    position: relative;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    color: $accent-color;
    font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.4rem;
    line-height: normal;
    letter-spacing: 0.25rem;

    @include tablet {
    }
  }
}
