@import "../../../styles/vars.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/mixins.scss";

.layout {
  @include layout;
}

.labPreamble {
  @include body;

  code {
    font-size: 1.6rem;
  }
}

.headline {
  @include headline;
}

.prenounciation {
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
}

.intro {
  @include body;
  margin: 3rem 0;
}

.childrenlist {
  @include list;
  width: 100%;
}

.labsContainer {
  // margin-top: 10rem;
  min-height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 15rem;
}
