@import "../../styles/responsive.scss";

.root {
  height: 100vh;

  h1 {
    width: 100%;
    font-weight: 900;
    font-size: 300px;
    position: fixed;
    margin: 0;
    // bottom: -35%;
    bottom: 0;
    transform: translate3d(-15%, 40%, 0);
    white-space: nowrap;
    // color: #f0f0f0;

    @include tablet {
      font-size: 500px;
    }

    @include desktop {
    }
  }
}

.name {
  height: 100%;
  right: 0;
  position: absolute;
  text-align: center;

  h2 {
    font-size: 20px;
    position: relative;
    margin: 0 20px;
    top: 20px;
    font-weight: 700;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
  }
}

.links {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  font-weight: 900;
  font-size: 30px;
  display: inline-block;
  color: #222;
}

.link {
  margin-bottom: 10px;
  overflow: hidden;

  &_outline {
    // color: transparent;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: #222;
    color: transparent;
    margin-top: 15px;
    display: inline-block;
    position: absolute;
    pointer-events: none;

    transition: all 0.5s ease;
  }

  &:hover .link_outline {
    color: #222;
    // -webkit-text-stroke-width: 0;

    margin-top: 0;
  }
}

.intro_container {
  line-height: 50px;
  white-space: nowrap;
  font-weight: 700;
  position: absolute;
  top: 10vw;
  right: 10vw;
  //   transform: translate3d(-50%, 0, 0);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 16px;

  a {
    color: #c70025;
  }

  a:hover {
    color: #222;
  }

  @include tablet {
    right: 100px;
    top: 100px;
    font-size: 16px;
    line-height: 60px;
  }

  @include desktop {
    right: 100px;
    font-size: 18px;
    line-height: 70px;
  }

  @include wide-screen {
    right: 20vw;
    font-size: 16px;
    line-height: 60px;
  }
}
