@import "../../styles/vars.scss";

h1 {
  font-family: "Headland One", serif;
  font-size: 5rem;
  margin: 1rem 0 2rem -0.3rem;
  letter-spacing: 0.3rem;
}

.prenounciation {
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  opacity: 0.6;
}

.layout {
  padding: 15rem 15rem;
  background-color: rgb(17, 18, 26);
  min-height: 100vh;
  color: $secondary-color;
  font-family: "Darker Grotesque", sans-serif;
}

.intro {
  margin: 6rem 0 6rem 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  line-height: 5rem;
  display: inline-block;
}

a {
  color: $secondary-color;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  display: inline-block;

  &:hover {
    opacity: 1;
  }
}

.link {
  position: relative;
}
