@import "../../styles/vars.scss";

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 6rem;
  margin: 0 0 2rem 0;
}

.layout {
  padding: 5rem 10vw;
  background-color: $main-color;
  min-height: 100vh;
  color: $secondary-color;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 2rem;
  font-weight: 500;
}

a {
  color: $secondary-color;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}

.link {
  position: relative;
}
