@import "../../../styles/vars.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/mixins.scss";

.root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.contentContainer {
  position: fixed;
  width: 100%;
  padding: 3rem;
  max-width: 70rem;
  // transition: transform 0.05s ease;
  will-change: transform;
  box-sizing: border-box;
  margin: 5rem auto;

  @include desktop {
    margin: 10rem auto;
  }
}

.headline {
  @include headline;
}

.body {
  @include body;
}
