@import "../../../styles/vars.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/mixins.scss";

.root {
  height: 100%;
  width: 100%;
  position: relative;
}

.contentContainer {
  width: 100%;
  padding: 3rem;
  max-width: 70rem;
  margin: 4rem auto;
  transition: transform 0.05s ease;
  will-change: transform;
  box-sizing: border-box;

  @include desktop {
    margin: 10rem auto;
  }
}

.headline {
  @include headline;
}

.body {
  @include body;
}
